################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.Demos.BuiltInControls/.vs
/NP.Demos.BuiltInControls/bin/Debug/net5.0
/NP.Demos.BuiltInControls/obj
/NP.Demos.SimpleAvaloniaProject/.vs
/NP.Demos.SimpleAvaloniaProject/bin/Debug/net5.0
/NP.Demos.SimpleAvaloniaProject/obj
/NP.Demos.Primitives/bin/Debug/net5.0
/NP.Demos.Primitives/.vs/SimpleAvaloniaProject/v16
/NP.Demos.Primitives/.vs/SimpleAvaloniaProject/DesignTimeBuild
/NP.Demos.Primitives/obj/Debug/net5.0
/NP.Demos.Primitives/obj
/NP.Demos.Primitives/.vs/NP.Demos.BuiltInControls/v16
/NP.Demos.Primitives/.vs/NP.Demos.Primitives/DesignTimeBuild
/NP.Demos.Primitives/.vs/NP.Demos.Primitives/v16
/NP.Demos.Primitives/.vs/NP.Demos.SimpleAvaloniaProject/v16
/NP.Demos.Primitives/NP.Demos.Primitives.csproj.user
/NP.Demos.Panels/obj
/NP.Demos.Panels/.vs/NP.Demos.Panels/v16
/NP.Demos.Panels/bin/Debug/net5.0
/NP.Demos.Brushes/.vs/NP.Demos.Brushes/DesignTimeBuild/.dtbcache.v2
/NP.Demos.Brushes/.vs/NP.Demos.Brushes/v16
/NP.Demos.Brushes/.vs/NP.Demos.BuiltInControls/DesignTimeBuild/.dtbcache.v2
/NP.Demos.Brushes/.vs/NP.Demos.BuiltInControls/v16
/NP.Demos.Brushes/.vs/NP.Demos.SimpleAvaloniaProject/v16/.suo
/NP.Demos.Brushes/.vs/SimpleAvaloniaProject/DesignTimeBuild
/NP.Demos.Brushes/.vs/SimpleAvaloniaProject/v16
/NP.Demos.Brushes/bin/Debug/net5.0
/NP.Demos.Brushes/obj
/NP.Demos.Panels/.vs/NP.Demos.Panels/DesignTimeBuild/.dtbcache.v2
/NP.Demos.Transforms/.vs
/NP.Demos.Transforms/bin/Debug/net5.0
/NP.Demos.Transforms/obj
